
.parent {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(8, 1fr);
    gap: 8px;
}
    
.div1 {
    grid-column: span 4 / span 4;
    grid-row: span 2 / span 2;
}

.div2 {
    grid-column: span 2 / span 2;
    grid-row: span 8 / span 8;
    grid-column-start: 5;
}

.div3 {
    grid-row-start: 3;
}

.div4 {
    grid-row-start: 3;
}

.div5 {
    grid-row-start: 3;
}

.div6 {
    grid-row-start: 3;
}

.div7 {
    grid-row-start: 4;
}

.div8 {
    grid-row-start: 4;
}

.div9 {
    grid-row-start: 4;
}

.div10 {
    grid-row-start: 4;
}

.div11 {
    grid-row-start: 5;
}

.div12 {
    grid-row-start: 5;
}

.div13 {
    grid-row-start: 5;
}

.div14 {
    grid-row-start: 5;
}

.div15 {
    grid-row-start: 6;
}

.div16 {
    grid-row-start: 6;
}

.div17 {
    grid-row-start: 6;
}

.div18 {
    grid-row-start: 6;
}

.div19 {
    grid-row-start: 7;
}

.div20 {
    grid-row-start: 7;
}

.div21 {
    grid-row-start: 7;
}

.div22 {
    grid-row-start: 7;
}

.div23 {
    grid-row-start: 8;
}

.div24 {
    grid-row-start: 8;
}

.div25 {
    grid-row-start: 8;
}

.div26 {
    grid-row-start: 8;
}
        